.contacts
	a.contact(href="tel:+79098658349")
		i.fa.fa-mobile.contact__icon(aria-hidden="true")
		span.contact__text +79098658349

	a.contact(href="mailto:shatokhin13@gmail.com")
		i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
		span.contact__text shatokhin13@gmail.com
	a.facebook-icon(href="facebook.com")
		i.fa.fa-facebook(aria-hidden="true")