<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/main.css")
	//- script(src="https://use.fontawesome.com/84ab801bd1.js")
	title Landing ITVDN
body
	include sections/header
	include sections/hero
	include sections/about
	


	